{% extends 'reservations/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2>Welcome to the Restaurant Reservation System</h2>
    <p>What would you like to do?</p>
    <ul>
        <li><a href="{% url 'view_tables' %}">View Available Tables</a></li>
        <li><a href="{% url 'make_reservation' %}">Make a Reservation</a></li>
        <li><a href="{% url 'view_reservations' %}">View Your Reservations</a></li>
        {% if user.is_superuser %}
            <li><a href="{% url 'view_all_reservations' %}">View All Reservations</a></li>
        {% endif %}
    </ul>
{% endblock %}
