{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data. -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta
        name="description"
        content="Welcome to Greek Delights, a restaurant in Berlin, Germany, offering the best of Greek cuisine. Enjoy our delicious Greek dishes in a cozy and friendly atmosphere."
    />
    <meta
        name="keywords"
        content="greek delights, restaurant, greek cuisine, berlin, germany, speciality, menu, table, booking, reservation, location, opening hours, contact, details"
    />
    <!-- Google Fonts. -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <!-- Favicon. -->
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <!-- Font Awesome. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Bootstrap. -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Link Stylesheet. -->
    <link rel="stylesheet" href="{% static 'reservation/style.css' %}">
    <!-- Title. -->
    <title>Greek Delights</title>
    
</head>

<body class="site">
    <!-- Responsive Navbar. -->
    <header>
        <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: white;">
            <!-- Navbar items container. -->
            <div class="container-fluid">
                <!-- Contains the restaurant name (brand). -->
                <a class="navbar-brand text-uppercase" href="{% url 'index' %}">Greek Delights</a>
                <!-- Contains the hamburger menu toggle button. -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    

                <!-- Contains the navigation links, uses if/else loop for authorization access. -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        
                        {% if user.is_authenticated %}
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}"><u> Home</u></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'booking' %}">Make a Booking</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'reservations' %}">My Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- The container for the site content displayed across the html templates. -->
    <main class="site-content">

        {% block content %}
      

        <!-- Rest of the content in the block -->
        {% endblock content %}
    </main>
    <!-- Footer. -->
    <footer class="footer bg-dark text-light text-lg-start text-center" style="background-color: white;">
        <div class="container p-3">
            <div class="row">
                <!-- Contact Details. -->
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase text-center"><u>Contact Details</u></h5>
                    <h6 class="text-uppercase">Greek Delights</h6>
                    <!-- Address. -->
                    <p>
                        Berlin, Germany.
                    </p>
                    <!-- Phone and Email. -->
                    <p>
                        <i class="fas fa-phone"></i> +49 123 456789 | <i class="far fa-envelope"></i>
                        info@greekdelights.com
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap Script. -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    
</body>

</html>
