{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if alert_message %}
<div class="alert alert-warning" role="alert">
    {{ alert_message }}
    {% endif %}

<div class="container mb-3">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h4 class="page-heading">Provide the reservation details</h4>
            <!-- Container for the error message if a double booking is made. -->
            <h6 class="double-booking">{{ error }}</h6>
            <!-- The booking form can be found in the booking app in forms.py. -->
            <form method="POST" action="{% url 'booking' %}">
                {% csrf_token %}
                {{ booking_form|crispy }}
                <button type="submit" class="btn btn-dark" value="Post">Send the reservation request</button>
            </form>
        </div>
    </div>
</div>

</div>


{% endblock %}

