{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h2>Cancel Reservation</h2>
        <p>Are you sure you want to cancel the following reservation?</p>
        <p>Reservation ID: {{ reservation.id }}</p>
        <p>Date: {{ reservation.date }}</p>
        <p>Time: {{ reservation.time }}</p>
        <form method="post" id="cancelForm">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cancel Reservation</button>
            <a href="{% url 'reservations' %}" class="btn btn-secondary">Go Back</a>
        </form>
    </div>

    <!-- JavaScript function to show confirmation alert -->
    <!-- <script>
         document.getElementById("cancelForm").addEventListener("submit", function(event) {
        const isConfirmed = confirm("are you sure you want to cancel this reservation?");
        if (!isConfirmed) {
            event.preventDefault();
        }
    });
    </script> -->
{% endblock %}