{% extends "base.html" %}

{% block content %}
<!-- Container for the hero image. -->
<div class="container">
    <div class="container-fluid hero-content">
        <img src="{{ hero.url }}" alt="A large image of a restaurant" style="max-width:100% ">
    </div>
</div>
<!-- Contains the about us, facilities and access content. -->
<div class="container p-2">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h5>Welcome to Greek Delights</h5>
            <p>
                 Dear <strong>{{ user.username }}</strong>,
                <br>
                welcome
                to Greek Delights, a restaurant in Berlin, Germany, offering the best of Greek cuisine. Enjoy
                our delicious Greek dishes in a cozy and friendly atmosphere.
            </p>
            <p>
                At Greek Delights, we take pride in offering an authentic taste of Greece 
                right here in Berlin. 
                Our culinary journey brings you a delightful array of traditional Greek dishes, 
                skillfully prepared with the finest, locally-sourced ingredients. 
                From succulent souvlaki and mouthwatering moussaka to fresh Greek salads.
            </p>
            <h5>Opening Hours</h5>
                <ul >
                     <li>Monday-Saturday: 11 AM - 9 PM</li>
                     <li>Sunday: Closed</li>
                </ul>
           
        </div>
        <div class="col-lg-6 col-md-12">
            <h5>Facilities</h5>
            <p>
                Step into our inviting space where rustic charm meets contemporary comfort. 
                Our recent extension adds more room for you to savor the flavors of Greece 
                in a country-style ambiance. Relax by the feature fireplace with a wood-burning 
                stove on cooler days, and bask in the warmth of Greek hospitality. 
                
            </p>
            <h5>Accessibility</h5>
            <p>
                At Greek Delights, we aim to ensure that everyone feels welcome. 
                With disabled parking access and facilities throughout, 
                we strive to provide an inclusive dining environment. 
                Join us for an unforgettable journey through the tastes of Greece.
        
            </p>
        </div>
    </div>
</div>

{% endblock %}