{% extends "base.html" %}

{% block content %}
<!-- Container for the hero image. -->
<div class="jumbotron jumbotron-fluid hero">
    <div class="container-fluid hero-content">
        <img src="{{ hero.url }}" alt="A large image of food" style="max-width: 100%;">
    </div>
</div>
<!-- Contains the about us, facilities and access content. -->
<div class="container p-2">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <h5>Welcome to Greek Delights</h5>
            <p>
                 Dear <strong>{{ user.username }}</strong>,
                <br>
                welcome
                to Greek Delights, a restaurant in Berlin, Germany, offering the best of Greek cuisine. Enjoy
                our delicious Greek dishes in a cozy and friendly atmosphere.
            </p>
            <p>
                At Greek Delights, we take pride in offering an authentic taste of Greece 
                right here in Berlin. 
                Our culinary journey brings you a delightful array of traditional Greek dishes, 
                skillfully prepared with the finest, locally-sourced ingredients. 
                From succulent souvlaki and mouthwatering moussaka to fresh Greek salads 
                bursting with flavor, every dish tells a story of Greek hospitality and 
                culinary expertise.
            </p>
            <h5>Opening Hours</h5>
                <ul >
                     <li>Monday-Saturday: 11 AM - 9 PM</li>
                     <li>Sunday: Closed</li>
                </ul>
            <p class="logo text-lg-start text-center">
                <i class="fas fa-horse"></i>
            </p>
        </div>
        <div class="col-lg-6 col-md-12">
            <h5>Facilities</h5>
            <p>
                Step into our inviting space where rustic charm meets contemporary comfort. 
                Our recent extension adds more room for you to savor the flavors of Greece 
                in a country-style ambiance. Relax by the feature fireplace with a wood-burning 
                stove on cooler days, and bask in the warmth of Greek hospitality. 
                Our outdoor oak wood oven-baked pizzeria offers an unforgettable dining experience 
                under the open sky, complemented by the aroma of freshly baked goodness.
            </p>
            <h5>Accessibility</h5>
            <p>
                At Greek Delights, we aim to ensure that everyone feels welcome. 
                With disabled parking access and facilities throughout, 
                we strive to provide an inclusive dining environment. 
                Our dedicated team is ready to accommodate any dietary preferences
                or allergies, so you can indulge in our Greek delights without worries. 
                Join us for an unforgettable journey through the tastes of Greece.
        
            </p>
        </div>
    </div>
</div>

{% endblock %}